********************************************
Fork GIT Repo
********************************************

Start by forking my GIT repo so you can build your own documenation when this is done

* Login to Github.com with your account
* Then navigate to this url: https://github.com/coolrazor007/sphinx_doc
* On the top right there should be a "fork" button.  Click on it
* Click: Create fork
* Click: <> Code (top left)
* Click: Code (green button center screen)
* Select: HTTPS
* Keep the text in the box handy.  It looks looks similar to this: https://github.com/test-razor-test/sphinx_doc.git