

******************
Jenkins Configuration
******************


Agent Setup in Jenkins
================



#. Click on Manage Jenkins on the left hand side.
#. Under the System Configuration section, click on Manage Nodes and Clouds.
#. On the left hand side, click on New Node.
#. Type 'builder' for the name
#. Click on the Permenant Agent radio box.
#. Click Create.

#. Write a brief description in the Description field
#. Leave the number of executors to 1
#. Enter /home/jenkins/agent/ into the Remote root directory text field
#. Click Save

#. Click on the 'builder' agent
#. You should see text like this: java -jar agent.jar -jnlpUrl http://localhost:8080/computer/builder/jenkins-agent.jnlp -secret 91af70f19b975b97eef81d42f624f1c44bl1d216b380905c9c27531d2259d823 -workDir "/home/jenkins/agent/"
#. Copy somewhere the value for '-secret'

#. SSH to the EC2 VM using the credentials supplied previously
#. Run this command but with your secret:

