

********************************************
Pre-requisite Ubuntu Environment
********************************************

This procedure is to be ran on a Ubuntu VM and was tested on Ubuntu Impish Indri (21.10).

.. code-block:: bash

  wget -O infrastructure-deployment.sh https://raw.githubusercontent.com/coolrazor007/sphinx_doc/main/infrastructure-deployment.sh
  sudo sh infrastructure-deployment.sh

  